<!--<header>
</header>-->

<mat-sidenav-container class="side-nav-component">

  <mat-sidenav mode="side" [(opened)]="opened" [disableClose]="true" style="background-color: #fff">

    <div id="main" routerLink="" routerLinkActive="active">

      <img src="../assets/itsme.jpg" alt="me">

      <h2 id="me" style="padding-left: 5rem; padding-right: 5rem">Bastien Guillaumat</h2>

    </div>

    <mat-list>

      <mat-divider></mat-divider>

      <mat-list-item class="block" routerLink="cv" routerLinkActive="active">
        <h4 mat-line>Curriculum Vitae</h4>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item class="block" routerLink="projects" routerLinkActive="active">
        <h4 mat-line>Projects</h4>
      </mat-list-item>

      <mat-divider></mat-divider>

    </mat-list>

    <br>
    <br>

    <a href="https://www.github.com/bguillaumat" target="_blank">
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/bastien-guillaumat/" target="_blank" style="padding-left: 15px">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <a href="mailto:bastien.guillaumat@gmail.com" style="padding-left: 15px">
      <i class="fas fa-envelope fa-2x"></i>
    </a>

    <h5 id="copyright">© Bastien Guillaumat</h5>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
