<div style="display: flex; justify-content: center">
  <h2>
    Curriculum Vitae
  </h2>
</div>

<div id="cv">

  <div class="left part">
    <h3>Languages</h3>

    <div class="competencies">
      <p>C</p>
      <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>C++</p>
      <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>TypeScript</p>
      <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>JavaScript</p>
      <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>Java (Android)</p>
      <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>PHP</p>
      <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
    </div>

  </div>
  <div class="right part">
    <h3>Frameworks</h3>

    <div class="competencies">
      <p>AngularJs</p>
      <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>Ionic</p>
      <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
    </div>

    <br>

    <h3>Others</h3>

    <div class="competencies">
      <p>Linux (Ubuntu & Debian)</p>
      <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>GIT</p>
      <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>Firebase</p>
      <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>Apache</p>
      <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
    </div>
  </div>

</div>
<div class="experience">
  <h3 style="text-decoration: underline; text-decoration-color: #428145">Experience</h3>

  <ul class="timeline">

    <!-- Item 1 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Carbon4Finance</span>
          <span class="time-wrapper"><span class="time">October 2018 - March 2019</span></span>
        </div>
        <div class="desc">
          Fullstack Developer
        </div>
      </div>
    </li>

    <!-- Item 2 -->
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">DigiFactory</span>
          <span class="time-wrapper"><span class="time">July 2017 - December 2017</span></span>
        </div>
        <div class="desc">
          Fullstack Developer
        </div>
      </div>
    </li>

  </ul>

  <h3 style="text-decoration: underline; text-decoration-color: #428145">Education</h3>

  <ul class="timeline">

    <!-- Item 1 -->
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">Epitech Graduate Diploma in IT</span>
          <span class="time-wrapper"><span class="time">2016 - Present (to 2021)</span></span>
        </div>
        <div class="desc">
          EPITECH Paris
        </div>
      </div>
    </li>

    <!-- Item 2 -->
    <li>
      <div class="direction-l">
        <div class="flag-wrapper">
          <span class="flag">A-Level with specialization in Sciences</span>
          <span class="time-wrapper"><span class="time">2016</span></span>
        </div>
        <div class="desc">
          Lycée Hoche, Versailles
        </div>
      </div>
    </li>

  </ul>

  <!--<div style="display: flex; flex-direction: column; align-items: center; text-align: center">

    <div class="container">
      <div class="content">
        <h3>Full-Stack Developer</h3>
        <h4>Carbon4Finance</h4>
        <h5>October 2018 - March 2019</h5>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <h3>Full-Stack Developer</h3>
        <h4>Digifactory</h4>
        <h5>July 2017 - December 2017</h5>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci,</p>
      </div>
    </div>

  </div>-->

</div>
