#cv {
  top: 0;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 40px;
}

.part {
  height: 100%;
  width: 40%;
  margin-bottom: auto;

  h3 {
    text-align: left;
    text-decoration: underline;
    text-decoration-color: #9966FD;
  }

  p {
    font-size: 14px;
    color: #282828;
    text-align: left;
    margin: 0;
  }
}

h2 {
  align-items: center;
  padding-bottom: 10px;
  width: 95%;
  border-bottom: 3px solid #9966FD;
}

.competencies {
  margin-top: 15px;
}

mat-progress-bar {
  height: 10px;
  border-width: 2px;
  border-radius: 1000px;
}

.experience {
  text-align: left;
  margin-top: 5%;
  margin-left: 5%;
}

.content {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

.container {
  width: 90%;
  margin: 5px;

  p {
    text-align: center;
  }
}
