<div style="display: flex; justify-content: center">
  <h2>
    Curriculum Vitae
  </h2>
</div>

<div id="cv">

  <div class="left part">
    <h3>Programming Languages</h3>

    <div class="competencies" *ngFor="let language of languages">
      <p>{{language.name}}</p>
      <mat-progress-bar mode="determinate" value="{{language.percentage}}"></mat-progress-bar>
    </div>

    <!--
    <br>

    <h3>Skills</h3>

    <div class="competencies" *ngFor="let skill of skills">
      <p>{{skill.name}}</p>
      <mat-progress-bar mode="determinate" value="{{skill.percentage}}"></mat-progress-bar>
    </div>
    -->

  </div>
  <div class="right part">
    <h3>Frameworks</h3>

    <div class="competencies" *ngFor="let framework of frameworks">
      <p>{{framework.name}}</p>
      <mat-progress-bar mode="determinate" value="{{framework.percentage}}"></mat-progress-bar>
    </div>

    <br>

    <h3>Others</h3>

    <div class="competencies" *ngFor="let other of others">
      <div style="display: flex; justify-content: space-between">
        <p>{{other.name}}</p>
        <p>{{other.details}}</p>
      </div>
      <mat-progress-bar mode="determinate" value="{{other.percentage}}"></mat-progress-bar>
    </div>

  </div>

</div>
<div class="experience">
  <h3 style="text-decoration: underline; text-decoration-color: #428145">Experience</h3>

  <ul class="timeline">

    <li *ngFor="let exp of experience">
      <div class="direction-{{exp.pos}}">
        <div class="flag-wrapper">
          <span class="flag">{{exp.company}}</span>
          <span class="time-wrapper"><span class="time">{{exp.time}}</span></span>
        </div>
        <div class="desc">
          {{exp.job}}<br>{{exp.techs}}
        </div>
      </div>
    </li>

  </ul>

  <h3 style="text-decoration: underline; text-decoration-color: #428145">Education</h3>

  <ul class="timeline">

    <li *ngFor="let edu of education">
      <div class="direction-{{edu.pos}}">
        <div class="flag-wrapper">
          <span class="flag">{{edu.diploma}}</span>
          <span class="time-wrapper"><span class="time">{{edu.time}}</span></span>
        </div>
        <div class="desc">
          {{edu.place}}
        </div>
      </div>
    </li>

  </ul>

</div>
