<div style="display: flex; justify-content: center" id="title">
  <h2>
    Curriculum Vitae
  </h2>
</div>

<div id="cv">

  <div class="left part">
    <h3>Languages</h3>

    <div class="competencies">
      <p>C</p>
      <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>C++</p>
      <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>TypeScript</p>
      <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>JavaScript</p>
      <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>Java (Android)</p>
      <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>PHP</p>
      <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
    </div>

  </div>
  <div class="right part">
    <h3>Frameworks</h3>

    <div class="competencies">
      <p>AngularJs</p>
      <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>Ionic</p>
      <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
    </div>

    <h3>Others</h3>

    <div class="competencies">
      <p>Linux (Ubuntu & Debian)</p>
      <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>GIT</p>
      <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>Firebase</p>
      <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
    </div>

    <div class="competencies">
      <p>Apache</p>
      <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
    </div>
  </div>

</div>
<div class="experience">
  <h3 style="text-decoration: underline; text-decoration-color: #9966FD">Experience</h3>

  <!--<mat-list>
    <mat-list-item style="width: 100%">
      <div>
        <div class="job-date">
          October 2018 - March 2019
        </div>
        <div class="job-header">
          Fullstack Dev
          <p>
            Carbon4Finance
          </p>
        </div>
        <div class="job-desc">
          azerty
        </div>
      </div>
    </mat-list-item>

  </mat-list>-->
  <div style="display: flex; flex-direction: column; align-items: center; text-align: center">

    <div class="container">
      <div class="content">
        <h3>Full-Stack Developer</h3>
        <h4>Carbon4Finance</h4>
        <h5>October 2018 - March 2019</h5>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <h3>Full-Stack Developer</h3>
        <h4>Digifactory</h4>
        <h5>July 2017 - December 2017</h5>
        <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci,</p>
      </div>
    </div>

  </div>

</div>
