<div id="main">
  <div id="desc">
    <h1>Lead Software Engineer / FullStack Dev</h1>
    <p>I'm a developer/freelance living in Paris, currently in 5th year at EPITECH.</p>
    <p>I mainly work on C++/C/Java/Ts(Vue/Angular).</p>
    <p>
      I'm contributing on OpenSource projects, mainly around Bitcoin, as
      <a href="https://getumbrel.com/" target="_blank"><strong>Umbrel</strong></a>
      or <a href="https://mempool.space/" target="_blank"><strong>Mempool</strong></a>
    </p>
  </div>
</div>
