<div style="display: flex; justify-content: center">
  <h2>
    Projects
  </h2>
</div>

<div cdkDropList cdkDropListOrientation="horizontal" class="cardList" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">

  <mat-card class="cardListItem m-3" *ngFor="let project of projects">
    <mat-card-header>
      <mat-card-title class="project-name">{{project.name}}</mat-card-title>
      <mat-card-subtitle class="project-year">{{project.year}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="project-content">
      <p>
        {{project.content}}
      </p>
      <a href="https://github.com/bguillaumat/{{project.github}}" target="_blank">
        <i class="fab fa-github"> Dépôt Github</i>
      </a>
    </mat-card-content>
    <mat-card-footer class="project-languages">
      <p>
        <i *ngFor="let language of project.languages" class="{{language.css}}">{{language.name}}</i>
      </p>
    </mat-card-footer>
  </mat-card>

</div>
